<title><%= t "horses_index.trakehner_horses" %></title>

<div class="section-colored text-center">
  <div id="horse_index_header">
    <h1><%= t 'shared.unofficial_trakehner_database' %></h1></p><br>
    <h2><%= t "horses_index.trakehner_horses" %></h2></p>
  </div>
</div>

<%= render 'layouts/index_table', {:horses => @horses} %>

<br>

<div class="nav">
  <div id="horse_index_new_horse">
    <% if policy(Horse).create? %>
      <%= link_to 'New Horse', new_horse_path %><br />
    <% end %>
  </div>
</div>

<%= paginate @horses %>
<br>
<%= link_to 'Home', root_path %>
