<title><%= t "shared.unofficial_trakehner_database" %></title>

<div id="horse_index_header">
  <h2 class='center'><%= t "horses_index.trakehner_horses" %></h2></p>
</div>

<%= render 'horses_index_table', {:horses => @horses} %>

<br>

<div class="nav">
  <div id="horse_index_new_horse">
    <% if policy(Horse).create? %>
      <%= link_to 'New Horse', new_horse_path %><br />
    <% end %>
  </div>
</div>

<%= paginate @horses %>
<br>
<%= link_to 'Home', root_path %>
