<title>Trakehner Horses</title>
<h1>Listing Trakehner Horses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @horses.each do |horse| %>
      <tr id="<%= horse.id %>">
        <td><%= horse.name %></td>
        <td><%= link_to 'Show', horse %></td>
        <td><%= link_to 'Edit', edit_horse_path(horse) %></td>
        <td><%= link_to 'Destroy', breeder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Destroy', horse  , method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Horse', new_horse_path %><br />
<%= paginate @horses, :remote => true %>
<br><br><br><br>
<%= link_to 'Home', root_path %>
