<title><%= @horse.name %></title>

<% dod = "" %>
<% mature_height = "" %>
<% mare_family = "" %>

<% breeder_first_name = "Jean" %>
<% breeder_last_name = "Brinkman" %>
<% breeder_farm = "Valhalla Farm" %>
<% breeder_city_state = "Welborn, FL" %>

<% owner_first_name = "Jean" %>
<% owner_last_name = "Brinkman" %>
<% owner_farm = "Valhalla Farm" %>
<% owner_street_address = "14872 47th Rd" %>
<% owner_city_state_zip = "Welborn, FL  32094" %>
<% owner_phone = "366-963-4619" %>
<% owner_website = "Valhallatrakehner.com" %>
<% owner_email = "Valhalla@alltel.net" %>


<div class="section-colored text-center">
  <div class="trakehnerHorseName">
    <tr><td>
      <table width='100%'>
        <tr>
          <td width='35%' align="center">
            <%= render 'layouts/trakehner_logo' %>
          </td>
          <td vertical-align="top" width='30%' align="center">
            <br>
            <h3 id="name"><%= @horse.name.upcase %></h3>
            <b><p><%= @horse.registration_number %></p></b>
            <br>
          </td>
          <td width='35%' align="center">
            <%= render 'layouts/trakehner_logo' %>
          </td>
        </tr>
      </table>
    </td></tr>
  </div>

  <p id="notice"><%= notice %></p>

  <% if @horse.image_url %>
    <%= image_tag @horse.image_url(:pedigree).to_s %>
  <% else %>
    <%= render 'layouts/no_picture_for_horse_image' %>
  <% end %>
</div>

<style>
  td.thick {font-weight:bold;}
</style>

<div class="section-colored text-center">
  <div class="trakehnerHorseData">
    <table cellpadding="2" width="100%">
      <tbody>
        <tr>
          <td align='right' width='10%'><%= "Foaled:" %></td>
          <td class="thick" align='left'><%= @horse.birth_year %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td align='right' width='10%'><%= "Color:" %></td>
          <td class="thick" align='left'><%= @horse.color %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td valign='top' align='right' width='10%'><%= "Gender:" %></td>
          <td valign='top' class="thick" align='left'><%= @horse.sex %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td valign='top' align='right' width='10%'><%= "Height:" %></td>
          <td class="thick" align='left'>
            <% if mature_height != "" %>
              <%= mature_height %>
              <%= " h" %>
            <% end %>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td valign='top' align='right' width='10%'><%= "Mare family:" %></td>
          <td class="thick" align='left'><%= mare_family %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td valign='top' align='right' width='10%'><%= "Breeder:" %></td>
          <td class="thick" align='left'><%= @horse.breeder.name %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td class="thick" align='left'><%= @horse.breeder.address %></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- TODO: make this a link to the performance link -->
<% if @horse.performance_records_available == "yes" %>
  <%= "Performance records available" %>
<% end %>

<br>
<%= render 'layouts/pedigree' %>
<br>

<div class="section-colored text-center">
  <%= link_to 'Edit', edit_horse_path(@horse) %> |
  <%= link_to 'Back', horses_path %>
  <br>
  <%= link_to 'Delete Horse', @horse, method: :delete, data: { confirm: 'Are you sure?' } %>

</div>

