<p id="notice"><%= notice %></p>

<% if @horse.image_url %>
  <%= image_tag @horse.image_url(:pedigree).to_s %>
<% else %>
  <%= render 'layouts/no_picture_for_horse_image' %>
<% end %>

<%= render 'layouts/pedigree' %>

<%= link_to 'Edit', edit_horse_path(@horse) %> |
<%= link_to 'Back', horses_path %>
