<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to t("sidebar.horses"), horses_path %></a></li>
    <li><%= link_to t("sidebar.breeders"), breeders_path %></a></li>
    <li><%= link_to t("sidebar.about"), about_path %></a></li>
    <li><%= link_to t("sidebar.contact"), contact_path %></a></li>
  </ul>
</nav>

