<nav>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to t("sidebar.horses"), horses_path %></a></li>
    <li><%= link_to t("sidebar.breeders"), breeders_path %></a></li>
    <li><%= link_to t("sidebar.about"), about_path %></a></li>
    <li><%= link_to t("sidebar.contact"), contact_path %></a></li>

    <% if !current_user %>
      <li><%= link_to t("sidebar.log_in"), user_session_path %></a></li>
    <% end %>
    <% if current_user %>
      <li><%= link_to t('sidebar.sign_out'), destroy_user_session_path, method: :delete %></li>
    <% end %>
  </ul>
</nav>

