<%= form_for(@breeder) do |f| %>
  <% if @breeder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@breeder.errors.count, "error") %> prohibited this breeder from being saved:</h2>

      <ul>
      <% @breeder.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
  <br>
<% end %>
