<title>Trakehner Breeders</title>
<h1>Listing Trakehner Breeders</h1>

<br><br>
<%= render 'layouts/breeder_search' %>
<br><br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @breeders.each do |breeder| %>
      <tr id="<%= breeder.id %>">
        <td><%= breeder.name %></td>
        <td><%= breeder.address %></td>
        <td><%= link_to 'Show', breeder %></td>
        <td><%= link_to 'Edit', edit_breeder_path(breeder) %></td>
        <td><%= link_to 'Destroy', breeder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="section-colored text-center">
  <div class="indexFooter">
    <%= link_to 'New Breeder', new_breeder_path %>
    <br><br>
    <%= link_to 'Home', root_path %>
  </div>
</div>
