<title>Trakehner Breeders</title>

<div class="section-colored text-center">
  <div id="breeder_index_header">
    <h1>The Unofficial Trakehner Database</h1></p><br>
    <h1>Listing Trakehner Breeders</h1>
  </div>
</div>

<div class="section-colored text-center">
  <div id="breeder_index_search">
    <br><br>
    <%= render 'layouts/breeder_search' %>
    <br><br>
  </div>
</div>

<style>th{background-color:black; color:white}</style>
<table border="1">
  <thead>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Address</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @breeders.each do |breeder| %>
      <tr id="<%= breeder.id %>">
        <td><%= link_to breeder.name, breeder %></td>
        <td><%= breeder.address %></td>
        <td><%= link_to 'Delete Breeder', breeder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="section-colored text-center">
  <div class="breeder_index_new_breeder">
    <% if policy(Breeder).create? %>
      <%= link_to 'New Breeder', new_breeder_path %>
    <% end %>
  </div>
  <div class="breeder_index_footer">
    <%= paginate @breeders %>
    <br><br>
    <%= link_to 'Home', root_path %>
  </div>
</div>
