<title><%= @breeder.name %></title>

<div class="section-colored text-center">
  <div id="show_breeder_header">
    <h1>The Unofficial Trakehner Database</h1></p><br><br>
    <h1>Trakehner Breeder</h1></p><br><br>
  </div>
</div>

<p id="notice"><%= notice %></p>

<style>
  td.thick {font-weight:bold;}
</style>

<div class="section-colored text-center">
  <div class="trakehnerBreederData">
    <table cellpadding="2" width="100%">
      <tbody>
        <tr>
          <td class="thick"><%= @breeder.name %></td>
        </tr>
        <tr>
          <td class="thick"><%= @breeder.address %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<br />
<br />

<% if @breeder.horses.any? %>
  <%= render 'layouts/index_table', {:horses => @breeder.horses} %>
<% end %>

<br />
<br />

<div class="section-colored text-center">
  <div class="trakehnerBreederFooter">
    <% if policy(Breeder).update? %>
      <%= link_to 'Edit', edit_breeder_path(@breeder), id: "edit_breeder_link" %> |
    <% end %>
    <%= link_to 'Back', breeders_path %>
  </div>
</div>
