<title><%= @breeder.name %></title>

<div id="show_breeder_header">
  <h2><%= t 'breeders_index.trakehner_breeder' %></h2></p><br>
</div>

<p id="notice"><%= notice %></p>

<style>
  td.thick {font-weight:bold;}
</style>

<table cellpadding="2" width="100%">
  <tbody>
    <tr>
      <td class="thick"><%= @breeder.name %></td>
    </tr>
    <tr>
      <td class="thick"><%= @breeder.address %></td>
    </tr>
  </tbody>
</table>

<br />
<br />

<% if @breeder.horses.any? %>
  <%= render 'horses/horses_index_table', {:horses => @breeder.horses} %>
<% end %>

<br />
<br />

<% if policy(Breeder).update? %>
  <%= link_to 'Edit', edit_breeder_path(@breeder), id: "edit_breeder_link" %> |
<% end %>
<%= link_to 'Back', breeders_path %>
