
<%= form_tag breeders_path, method: :get do %>
  <p>
    <%= text_field_tag :search_name, params[:search_name] %>
    <%= submit_tag "Search Breeder By Name", :name => nil %>
  </p>

  <p>
    <%= text_field_tag :search_address, params[:search_address] %>
    <%= submit_tag "Search Breeder By Address", :name => nil %>
  </p>
<% end %>
