
<div id="horse_search_bar">
  <%= form_tag horses_path, method: :get do %>

    <span class="horse_search_field">
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag t("sidebar.search"), :name => nil %>
    </span>

    <span class="has_image_checkbox">
      <%= check_box_tag :has_image, params[:has_image] %>
      <%= label_tag :has_image, t(" ") %>
      <span class='has_image_checkbox_label'>Has Image</span>
    </span>

  <% end %>
</div>
