<title><%= @horse.name %></title>

<% dod = "" %>
<% mature_height = "" %>
<% mare_family = "" %>

<div class="section-colored text-center">
  <div class="trakehnerHorseName">
    <tr><td>
      <table width='100%'>
        <tr>
          <td width='35%' align="center">
            <%= render 'layouts/trakehner_logo' %>
          </td>
          <td vertical-align="top" width='30%' align="center">
            <br>
            <h3 id="name"><%= @horse.name.upcase %></h3>
            <b><p><%= @horse.registration_number %></p></b>
            <br>
          </td>
          <td width='35%' align="center">
            <%= render 'layouts/trakehner_logo' %>
          </td>
        </tr>
      </table>
    </td></tr>
  </div>

  <p id="notice"><%= notice %></p>

  <% if @horse.image_url %>
    <%= image_tag @horse.image_url(:pedigree).to_s %>
  <% else %>
    <%= render 'layouts/no_picture_for_horse_image' %>
  <% end %>
</div>

<style>
  td.thick {font-weight:bold;}
</style>

<div class="section-colored text-center">
  <div class="trakehnerHorseData">
    <table cellpadding="2" width="100%">
      <tbody>
        <tr>
          <td align='right' width='10%'><%= "Foaled:" %></td>
          <td class="thick" align='left'><%= @horse.birth_year %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td align='right' width='10%'><%= "Color:" %></td>
          <td class="thick" align='left'><%= @horse.color %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td valign='top' align='right' width='10%'><%= "Gender:" %></td>
          <td valign='top' class="thick" align='left'><%= @horse.sex %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td valign='top' align='right' width='10%'><%= "Height:" %></td>
          <td class="thick" align='left'>
            <% if mature_height != "" %>
              <%= mature_height %>
              <%= " h" %>
            <% end %>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td valign='top' align='right' width='10%'><%= "Mare family:" %></td>
          <td class="thick" align='left'><%= mare_family %></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td valign='top' align='right' width='10%'><%= "Breeder:" %></td>
          <td class="thick" align='left'>
            <% if @horse.breeder %>
              <%= link_to "#{ @horse.breeder.name }", @horse.breeder %>
            <% end %>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td class="thick" align='left'>
            <% if @horse.breeder %>
              <%= @horse.breeder.address %>
            <% end %>
          </td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- TODO: make this a link to the performance link -->
<% if @horse.performance_records_available == "yes" %>
  <%= t "horses_index.performance_records_available" %>
<% end %>
