      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <div>
            <%= render 'layouts/horse_search' %>
          </div>
          <li class="sidebar-brand"><a href="/">Trakehner DB</a></li>
          <li><a href="/horses"><%= t "sidebar.horses" %></a></li>
          <li><a href="/breeders"><%= t "sidebar.breeders" %></a></li>
          <li><a href="/about"><%= t "sidebar.about" %></a></li>
          <li><a href="/contact"><%= t "sidebar.contact" %></a></li>
          <% if !current_user %>
            <li><a href="/users/sign_in"><%= t "sidebar.log_in" %></a></li>
          <% end %>
          <% if current_user %>
            <li><%= link_to t('sidebar.sign_out'), destroy_user_session_path, method: :delete %></li>
          <% end %>
        </ul>
      </div>
